body {
  font-family: "Montserrat", sans-serif;
  color: #131313;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  @media screen and (min-width: 1200px) {
    cursor: pointer;
  }
}
