body.show-modal .backdrop {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 28px;

  z-index: 2;

  &__cross {
    position: absolute;
    top: 12px;
    right: 12px;

    background-color: transparent;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    font-family: "Seymour One";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #131313;

    margin-bottom: 83px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    margin-bottom: 32px;
  }
  &__labelCheck {
    cursor: pointer;
  }
  &__check {
    appearance: none;
    &:checked + .form__newCheck--green {
      background-color: #96af8c;
    }
    &:checked + .form__newCheck--yellow {
      background-color: #efd478;
    }
    &:checked + .form__newCheck--brown {
      background-color: #d6936d;
    }
  }

  &__newCheck {
    position: relative;
    text-align: center;

    padding: 96px 16px 20px 16px;
    width: 132px;
    height: 136px;
    border-style: solid;
    border-width: 2px;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--green {
      border-color: #96af8c;
    }
    &--yellow {
      border-color: #efd478;
    }
    &--brown {
      border-color: #d6936d;
    }
  }

  &__round {
    position: absolute;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: -1px;
    top: -56px;

    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: -7px;
      width: 132px;
      height: 132px;

      content: "";
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--green {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
      &::before {
        background-image: url("../images/ice-cream1@1x.png");
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url("../images/ice-cream1@2x.png");
        }
      }
    }
    &--yellow {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
      &::before {
        background-image: url("../images/ice-cream2@1x.png");
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url("../images/ice-cream2@2x.png");
        }
      }
    }
    &--brown {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
      &::before {
        background-image: url("../images/ice-cream3@1x.png");
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url("../images/ice-cream3@2x.png");
        }
      }
    }
  }

  &__text {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    line-height: 1.25;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
  }
  &__input {
    width: 224px;
    height: 32px;
    padding: 8px 12px;

    margin-bottom: 12px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    font-size: 12px;
    line-height: 1.7;

    color: #131313;
    &:focus {
      outline-color: #f8d24e;
    }
  }
  &__area {
    height: 65px;
    resize: none;

    margin-bottom: 26px;
  }
  &__btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #131313;

    background-color: #f8d24e;
    border-radius: 10px;
    padding: 12px 34px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #0a8817;
    }
    &:focus {
      color: #ffffff;
    }
  }
}
